formaciones/ingenieria-de-agentes-y-automatizacion-con-ia/paso_02/automatizacion-de-flujos-integrando-n8n-e-ia/workflows/n8n/03-informes-automaticos-con-google-sheets.json
{
  "name": "Clase 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -208
      ],
      "id": "687e45eb-9b0e-421c-92e8-f55b32ce36a7",
      "name": "When chat message received",
      "webhookId": "46584635-fd83-4dab-a2de-f0c7dadae627",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "## Rol\n- Eres un analista de datos de la empresa FlexData\n- Tu meta es transformar datos numéricos en un resumen ejecutivo, claro y natural en español de América Latina.\n\n## Fuente de datos\n- Utiliza la tool `Clientes de FlexData` para extraer los datos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "7da40be6-d793-4eab-8674-de7f05a4304c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "14YXBy5dmm8xAY7vDw4Iv6C20xJ_2LoPpkAfwWcmJrMg",
          "mode": "list",
          "cachedResultName": "n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14YXBy5dmm8xAY7vDw4Iv6C20xJ_2LoPpkAfwWcmJrMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14YXBy5dmm8xAY7vDw4Iv6C20xJ_2LoPpkAfwWcmJrMg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        224
      ],
      "id": "90bf7e14-dbee-4f94-b176-77a6606c4d49",
      "name": "Clientes de FlexData",
      "credentials": {
        "googleApi": {
          "id": "IwmB62K3qeiHZPX9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ],
      "id": "47473519-a245-4247-bd21-a463fbad661c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JUGn5WBquNBrhg3o",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ],
      "id": "cec23acd-df53-4459-bce1-a688a6c8bf0d",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "rYdK5dLtXO948vw6",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ef36b8a-ce89-4fe1-b8f7-a16deae30e0c",
              "name": "message",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "38e90b62-6e29-4c94-bd33-2b7b7672a465",
              "name": "to",
              "value": "={{ $json.to[0] }}",
              "type": "string"
            },
            {
              "id": "d25e99c8-5c30-4b64-9323-013da0373fb5",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "12ee6bbf-4d33-497e-9ef9-a75fe9c06527",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "cddd19cc-9dd8-4e71-8d4c-c972e80fa52c",
              "name": "subjet",
              "value": "={{ $json.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        16
      ],
      "id": "dfc923f9-44cb-47bf-8232-f3e968ad6585",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.id }}",
          "mode": "id"
        },
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "ce062b25-d208-4bde-b851-de915139e403",
      "name": "Reply to a message",
      "webhookId": "4dd77722-59a4-4d89-a563-b198d51d0185",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "rYdK5dLtXO948vw6",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Clientes de FlexData": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7a8e7219-65ca-4a02-b0aa-460e53a0165c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9500868592de84fb4d1592cb69852d0839858b2bdb43b49b1b9d4615a91ee29"
  },
  "nodeGroups": [],
  "id": "MaWjUZYnT6qe9YCC",
  "tags": []
}