formaciones/ingenieria-de-agentes-y-automatizacion-con-ia/paso_02/n8n-para-desarrolladores-construyendo-workflows-inteligentes/workflows/04-tratamiento-de-errores-y-nodos-personalizados.json
{
  "name": "Clase 4",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "MachidelPino",
          "mode": "list",
          "cachedResultName": "MachidelPino",
          "cachedResultUrl": "https://github.com/MachidelPino"
        },
        "repository": {
          "__rl": true,
          "value": "study-tracker-cli",
          "mode": "list",
          "cachedResultName": "study-tracker-cli",
          "cachedResultUrl": "https://github.com/MachidelPino/study-tracker-cli"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -192
      ],
      "id": "452bfe3a-b66e-4f0b-831e-31c73fc465f9",
      "name": "Github Trigger",
      "webhookId": "9d0f52b5-0c86-4e22-b9f9-cb80c8f9e834"
    },
    {
      "parameters": {
        "sendTo": "machidelpino@outlook.com",
        "subject": "New Pull Request",
        "message": "=From:  {{ $('Github Trigger').item.json.body.pull_request.user.html_url }}\n\nPull request: {{ $('Github Trigger').item.json.body.pull_request.url }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -192
      ],
      "id": "13aa9a95-bcb9-4c23-a4a0-4ca9a948af17",
      "name": "Send a message",
      "webhookId": "86787b14-f3f8-4cf4-b45c-3b03f7475d48",
      "credentials": {
        "gmailOAuth2": {
          "id": "2sLPJ1kbInpWRh2u",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BHN4HCM0C",
          "mode": "id"
        },
        "message": "=PR from:  {{ $('Github Trigger').item.json.body.pull_request.url }}\n\nautor: {{ $('Github Trigger').item.json.body.pull_request.user.login }}\n\nEsta aprobado??",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1120,
        -192
      ],
      "id": "b7466199-5ed0-4a54-a5a3-1deacf10970d",
      "name": "Send message and wait for response",
      "webhookId": "d5e70964-7e1c-4207-b189-f92415ffd2d3",
      "credentials": {
        "slackApi": {
          "id": "j1iiKafj1gLCFwJw",
          "name": "Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "40c186fd-3718-4981-a23b-0fbae63de376",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        224,
        -192
      ],
      "id": "ea166e3a-9547-45a0-a0b0-d19af10b42e1",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d149703-7faf-40ef-8e7a-7697c3dc242f",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -192
      ],
      "id": "f55348a0-3564-4a0a-8bd1-7ad98f80ee62",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "={{ $('Github Trigger').item.json.body.pull_request.head.user.html_url }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Github Trigger').item.json.body.pull_request.head.repo.html_url }}",
          "mode": "url"
        },
        "pullRequestNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "event": "comment",
        "body": "Aprobado",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1568,
        -256
      ],
      "id": "d81aca98-ea44-41b2-865f-272755856803",
      "name": "Create a review",
      "webhookId": "739d28b4-53d5-4202-9dbc-e05881fa59d6",
      "credentials": {
        "githubOAuth2Api": {
          "id": "mvfuuLfroItO8fDP",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "={{ $('Github Trigger').item.json.body.pull_request.head.user.html_url }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Github Trigger').item.json.body.pull_request.head.repo.html_url }}",
          "mode": "url"
        },
        "pullRequestNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "event": "comment",
        "body": "Desaprobado",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2464,
        -48
      ],
      "id": "4fef7457-5ccc-471b-a2cc-d2ce039c5f37",
      "name": "Create a review1",
      "webhookId": "5105101f-be0c-4e55-9b80-dc0b61c64149",
      "credentials": {
        "githubOAuth2Api": {
          "id": "mvfuuLfroItO8fDP",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "gLsV0zmDzIaGDwmF",
          "mode": "list",
          "cachedResultName": "DT1",
          "cachedResultUrl": "/projects/dqbIjlNWQQMQZMyS/datatables/gLsV0zmDzIaGDwmF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "owner": "={{ $json.body.pull_request.user.login }}",
            "PR_link": "={{ $json.body.pull_request.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "owner",
              "displayName": "owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PR_link",
              "displayName": "PR_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Aprobado",
              "displayName": "Aprobado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "finalizado",
              "displayName": "finalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        -192
      ],
      "id": "26ac9d5c-ae97-4071-a6a5-da2bee1b69f6",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "gLsV0zmDzIaGDwmF",
          "mode": "list",
          "cachedResultName": "DT1",
          "cachedResultUrl": "/projects/dqbIjlNWQQMQZMyS/datatables/gLsV0zmDzIaGDwmF"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Aprobado": "={{ $('Send message and wait for response').item.json.data.approved }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "owner",
              "displayName": "owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PR_link",
              "displayName": "PR_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Aprobado",
              "displayName": "Aprobado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finalizado",
              "displayName": "finalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2688,
        -192
      ],
      "id": "4d0d45e4-e924-4645-9c2e-864cae07a2eb",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "exec_id",
              "value": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        672,
        -192
      ],
      "id": "e9c74f2e-65b4-4152-a693-45b62acb2d81",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.id_card }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        2464,
        -336
      ],
      "id": "335fac4d-0d63-46d3-b8e3-5461679e2cda",
      "name": "Update a card",
      "credentials": {
        "trelloApi": {
          "id": "gw4ArnYnpSbpMmZ8",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let textos = $('Github Trigger').first().json.body.pull_request.title.split(\"- \");\nif (textos.length == 1){\n    throw new Error(\"ID de Trello no encontrado\")\n}\nlet id = textos.pop();\nreturn {\"id_card\": id}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -256
      ],
      "id": "52875fa6-7e58-401a-bbf1-a2c0fb27c4bd",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "id": "9gBHZ5Qm",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        2016,
        -336
      ],
      "id": "f9ca5661-21d3-4e2c-915b-b0b390e82051",
      "name": "Get many lists",
      "credentials": {
        "trelloApi": {
          "id": "gw4ArnYnpSbpMmZ8",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db021043-b7d9-488b-8a26-ac1626f38c4b",
              "leftValue": "={{ $json.name }}",
              "rightValue": "En desarrollo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2240,
        -336
      ],
      "id": "3db7ec54-9140-4f63-a2c8-13b8fa8c3cb4",
      "name": "Filter1"
    }
  ],
  "pinData": {
    "Github Trigger": [
      {
        "json": {
          "body": {
            "action": "opened",
            "number": 8,
            "pull_request": {
              "url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/8",
              "id": 4068981425,
              "node_id": "PR_kwDOSR46Hs7yh7qx",
              "html_url": "https://github.com/MachidelPino/study-tracker-cli/pull/8",
              "diff_url": "https://github.com/MachidelPino/study-tracker-cli/pull/8.diff",
              "patch_url": "https://github.com/MachidelPino/study-tracker-cli/pull/8.patch",
              "issue_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/8",
              "number": 8,
              "state": "open",
              "locked": false,
              "title": "Change help command flag - oAD9euBh",
              "user": {
                "login": "MachidelPino",
                "id": 143361264,
                "node_id": "U_kgDOCIuE8A",
                "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/MachidelPino",
                "html_url": "https://github.com/MachidelPino",
                "followers_url": "https://api.github.com/users/MachidelPino/followers",
                "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
                "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
                "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
                "repos_url": "https://api.github.com/users/MachidelPino/repos",
                "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
                "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "body": null,
              "created_at": "2026-07-16T13:27:11Z",
              "updated_at": "2026-07-16T13:27:11Z",
              "closed_at": null,
              "merged_at": null,
              "merge_commit_sha": null,
              "assignees": [],
              "requested_reviewers": [],
              "requested_teams": [],
              "labels": [],
              "milestone": null,
              "draft": false,
              "commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/8/commits",
              "review_comments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/8/comments",
              "review_comment_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/comments{/number}",
              "comments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/8/comments",
              "statuses_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/statuses/0b66daac4c43508da63a4093f1422bd9d786fb93",
              "head": {
                "label": "MachidelPino:n8n-trello-intregration",
                "ref": "n8n-trello-intregration",
                "sha": "0b66daac4c43508da63a4093f1422bd9d786fb93",
                "user": {
                  "login": "MachidelPino",
                  "id": 143361264,
                  "node_id": "U_kgDOCIuE8A",
                  "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/MachidelPino",
                  "html_url": "https://github.com/MachidelPino",
                  "followers_url": "https://api.github.com/users/MachidelPino/followers",
                  "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
                  "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
                  "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
                  "repos_url": "https://api.github.com/users/MachidelPino/repos",
                  "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 1226717726,
                  "node_id": "R_kgDOSR46Hg",
                  "name": "study-tracker-cli",
                  "full_name": "MachidelPino/study-tracker-cli",
                  "private": false,
                  "owner": {
                    "login": "MachidelPino",
                    "id": 143361264,
                    "node_id": "U_kgDOCIuE8A",
                    "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/MachidelPino",
                    "html_url": "https://github.com/MachidelPino",
                    "followers_url": "https://api.github.com/users/MachidelPino/followers",
                    "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
                    "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
                    "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
                    "repos_url": "https://api.github.com/users/MachidelPino/repos",
                    "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
                    "type": "User",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/MachidelPino/study-tracker-cli",
                  "description": "A simple Python CLI to track study sessions, tasks and weekly target hours.",
                  "fork": false,
                  "url": "https://api.github.com/repos/MachidelPino/study-tracker-cli",
                  "forks_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/forks",
                  "keys_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/teams",
                  "hooks_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/hooks",
                  "issue_events_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/events",
                  "assignees_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/tags",
                  "blobs_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/languages",
                  "stargazers_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/stargazers",
                  "contributors_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/contributors",
                  "subscribers_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/subscribers",
                  "subscription_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/subscription",
                  "commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/merges",
                  "archive_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/downloads",
                  "issues_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/labels{/name}",
                  "releases_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/deployments",
                  "created_at": "2026-05-01T18:47:36Z",
                  "updated_at": "2026-06-30T01:14:36Z",
                  "pushed_at": "2026-07-16T13:26:53Z",
                  "git_url": "git://github.com/MachidelPino/study-tracker-cli.git",
                  "ssh_url": "git@github.com:MachidelPino/study-tracker-cli.git",
                  "clone_url": "https://github.com/MachidelPino/study-tracker-cli.git",
                  "svn_url": "https://github.com/MachidelPino/study-tracker-cli",
                  "homepage": null,
                  "size": 7,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "Python",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 5,
                  "license": null,
                  "allow_forking": true,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "has_pull_requests": true,
                  "pull_request_creation_policy": "all",
                  "topics": [],
                  "visibility": "public",
                  "forks": 0,
                  "open_issues": 5,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "base": {
                "label": "MachidelPino:main",
                "ref": "main",
                "sha": "6a998bfcfd108a32028b3a29df1536d2f1534d18",
                "user": {
                  "login": "MachidelPino",
                  "id": 143361264,
                  "node_id": "U_kgDOCIuE8A",
                  "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/MachidelPino",
                  "html_url": "https://github.com/MachidelPino",
                  "followers_url": "https://api.github.com/users/MachidelPino/followers",
                  "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
                  "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
                  "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
                  "repos_url": "https://api.github.com/users/MachidelPino/repos",
                  "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 1226717726,
                  "node_id": "R_kgDOSR46Hg",
                  "name": "study-tracker-cli",
                  "full_name": "MachidelPino/study-tracker-cli",
                  "private": false,
                  "owner": {
                    "login": "MachidelPino",
                    "id": 143361264,
                    "node_id": "U_kgDOCIuE8A",
                    "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/MachidelPino",
                    "html_url": "https://github.com/MachidelPino",
                    "followers_url": "https://api.github.com/users/MachidelPino/followers",
                    "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
                    "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
                    "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
                    "repos_url": "https://api.github.com/users/MachidelPino/repos",
                    "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
                    "type": "User",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/MachidelPino/study-tracker-cli",
                  "description": "A simple Python CLI to track study sessions, tasks and weekly target hours.",
                  "fork": false,
                  "url": "https://api.github.com/repos/MachidelPino/study-tracker-cli",
                  "forks_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/forks",
                  "keys_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/teams",
                  "hooks_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/hooks",
                  "issue_events_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/events",
                  "assignees_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/tags",
                  "blobs_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/languages",
                  "stargazers_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/stargazers",
                  "contributors_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/contributors",
                  "subscribers_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/subscribers",
                  "subscription_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/subscription",
                  "commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/merges",
                  "archive_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/downloads",
                  "issues_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/labels{/name}",
                  "releases_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/deployments",
                  "created_at": "2026-05-01T18:47:36Z",
                  "updated_at": "2026-06-30T01:14:36Z",
                  "pushed_at": "2026-07-16T13:26:53Z",
                  "git_url": "git://github.com/MachidelPino/study-tracker-cli.git",
                  "ssh_url": "git@github.com:MachidelPino/study-tracker-cli.git",
                  "clone_url": "https://github.com/MachidelPino/study-tracker-cli.git",
                  "svn_url": "https://github.com/MachidelPino/study-tracker-cli",
                  "homepage": null,
                  "size": 7,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "Python",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 5,
                  "license": null,
                  "allow_forking": true,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "has_pull_requests": true,
                  "pull_request_creation_policy": "all",
                  "topics": [],
                  "visibility": "public",
                  "forks": 0,
                  "open_issues": 5,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "_links": {
                "self": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/8"
                },
                "html": {
                  "href": "https://github.com/MachidelPino/study-tracker-cli/pull/8"
                },
                "issue": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/8"
                },
                "comments": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/8/comments"
                },
                "review_comments": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/8/comments"
                },
                "review_comment": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/comments{/number}"
                },
                "commits": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls/8/commits"
                },
                "statuses": {
                  "href": "https://api.github.com/repos/MachidelPino/study-tracker-cli/statuses/0b66daac4c43508da63a4093f1422bd9d786fb93"
                }
              },
              "author_association": "OWNER",
              "auto_merge": null,
              "assignee": null,
              "active_lock_reason": null,
              "merged": false,
              "mergeable": null,
              "rebaseable": null,
              "mergeable_state": "unknown",
              "merged_by": null,
              "comments": 0,
              "review_comments": 0,
              "maintainer_can_modify": false,
              "commits": 1,
              "additions": 1,
              "deletions": 1,
              "changed_files": 1
            },
            "repository": {
              "id": 1226717726,
              "node_id": "R_kgDOSR46Hg",
              "name": "study-tracker-cli",
              "full_name": "MachidelPino/study-tracker-cli",
              "private": false,
              "owner": {
                "login": "MachidelPino",
                "id": 143361264,
                "node_id": "U_kgDOCIuE8A",
                "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/MachidelPino",
                "html_url": "https://github.com/MachidelPino",
                "followers_url": "https://api.github.com/users/MachidelPino/followers",
                "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
                "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
                "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
                "repos_url": "https://api.github.com/users/MachidelPino/repos",
                "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
                "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/MachidelPino/study-tracker-cli",
              "description": "A simple Python CLI to track study sessions, tasks and weekly target hours.",
              "fork": false,
              "url": "https://api.github.com/repos/MachidelPino/study-tracker-cli",
              "forks_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/forks",
              "keys_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/teams",
              "hooks_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/hooks",
              "issue_events_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/events{/number}",
              "events_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/events",
              "assignees_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/assignees{/user}",
              "branches_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/branches{/branch}",
              "tags_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/tags",
              "blobs_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/languages",
              "stargazers_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/stargazers",
              "contributors_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/contributors",
              "subscribers_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/subscribers",
              "subscription_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/subscription",
              "commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/contents/{+path}",
              "compare_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/merges",
              "archive_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/downloads",
              "issues_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/issues{/number}",
              "pulls_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/labels{/name}",
              "releases_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/releases{/id}",
              "deployments_url": "https://api.github.com/repos/MachidelPino/study-tracker-cli/deployments",
              "created_at": "2026-05-01T18:47:36Z",
              "updated_at": "2026-06-30T01:14:36Z",
              "pushed_at": "2026-07-16T13:26:53Z",
              "git_url": "git://github.com/MachidelPino/study-tracker-cli.git",
              "ssh_url": "git@github.com:MachidelPino/study-tracker-cli.git",
              "clone_url": "https://github.com/MachidelPino/study-tracker-cli.git",
              "svn_url": "https://github.com/MachidelPino/study-tracker-cli",
              "homepage": null,
              "size": 7,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": "Python",
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 5,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "has_pull_requests": true,
              "pull_request_creation_policy": "all",
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 5,
              "watchers": 0,
              "default_branch": "main"
            },
            "sender": {
              "login": "MachidelPino",
              "id": 143361264,
              "node_id": "U_kgDOCIuE8A",
              "avatar_url": "https://avatars.githubusercontent.com/u/143361264?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/MachidelPino",
              "html_url": "https://github.com/MachidelPino",
              "followers_url": "https://api.github.com/users/MachidelPino/followers",
              "following_url": "https://api.github.com/users/MachidelPino/following{/other_user}",
              "gists_url": "https://api.github.com/users/MachidelPino/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/MachidelPino/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/MachidelPino/subscriptions",
              "organizations_url": "https://api.github.com/users/MachidelPino/orgs",
              "repos_url": "https://api.github.com/users/MachidelPino/repos",
              "events_url": "https://api.github.com/users/MachidelPino/events{/privacy}",
              "received_events_url": "https://api.github.com/users/MachidelPino/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            }
          },
          "headers": {
            "host": "machi1712.app.n8n.cloud",
            "user-agent": "GitHub-Hookshot/add9e26",
            "content-length": "24145",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "140.82.115.41",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "a1c157d3cbc4c948-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.41, 172.68.245.98",
            "x-forwarded-host": "machi1712.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-swc-25-667d977865-2gw5f",
            "x-github-delivery": "0d9ad620-811a-11f1-8032-deafe33acd62",
            "x-github-event": "pull_request",
            "x-github-hook-id": "653392412",
            "x-github-hook-installation-target-id": "1226717726",
            "x-github-hook-installation-target-type": "repository",
            "x-hub-signature": "sha1=0c8d9f85a1cd553c63fe13360dc26c6a001d31fb",
            "x-hub-signature-256": "sha256=fb5a3fd8a25c4c67ca70007d7f2778820a4462b436356bd06ab0c2379db7519e",
            "x-is-trusted": "yes",
            "x-real-ip": "140.82.115.41"
          },
          "query": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a review": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a review1": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a card": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many lists": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Update a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36390f9b-1e94-4963-be1a-610965e02d4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9500868592de84fb4d1592cb69852d0839858b2bdb43b49b1b9d4615a91ee29"
  },
  "nodeGroups": [],
  "id": "3YzvN0XMUUWMSWKQ",
  "tags": []
}