formaciones/ingenieria-de-agentes-y-automatizacion-con-ia/paso_02/n8n-crea-automatizaciones-inteligentes/workflows/05-procesamiento-de-archivos-en-drive.json
{
  "name": "Clase 5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Cks2Vz5TqLyfb4IOymimOk6rW-HHrgf5",
          "mode": "list",
          "cachedResultName": "n8n alura",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Cks2Vz5TqLyfb4IOymimOk6rW-HHrgf5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "df2f2cc9-2ac7-4011-bc90-5abaf0eb6ab5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PgpxVjr76gR4oYtH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "f82b0047-aa4c-437b-8efd-f0220acc4253",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PgpxVjr76gR4oYtH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "cf87849e-51c2-4f63-bed8-8bf45955f0e8",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "RVDn3lcSRHuJVur6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5d0b4892-4b4b-46fa-9529-337b65ea47e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9500868592de84fb4d1592cb69852d0839858b2bdb43b49b1b9d4615a91ee29"
  },
  "nodeGroups": [],
  "id": "qgzNJpuGwmE9Soi6",
  "tags": []
}