formaciones/ingenieria-de-agentes-y-automatizacion-con-ia/paso_02/n8n-crea-automatizaciones-inteligentes/workflows/Clase 3.json
{
  "name": "Clase 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -96
      ],
      "id": "9af1e7dc-4090-4940-91ef-a9c2032b9431",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2sLPJ1kbInpWRh2u",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "754fd4a1-1ceb-43bb-bccc-f61738fce6dc",
              "leftValue": "={{ $json.From }}",
              "rightValue": "machidelpino1@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -96
      ],
      "id": "4d29aa19-34db-4ccf-85ba-e28a74d5792d",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un agente contestador de emails. Me llamo Juan Perez, soy el dueño de un local de videojuegos, abrimos de lunes a viernes de 8 a 18hs. Solo devolver el texto puro del email de respuesta. No hacer comentarios adicionales.\n\nEmail:\n {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        448,
        -96
      ],
      "id": "629bad90-4d69-49cc-87e8-80329f65fece",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "RVDn3lcSRHuJVur6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -96
      ],
      "id": "81993fa4-5d6e-48f8-b54c-ff74f1054e9a",
      "name": "Reply to a message",
      "webhookId": "c1405f42-6807-4029-9dff-5540bddd361f",
      "credentials": {
        "gmailOAuth2": {
          "id": "2sLPJ1kbInpWRh2u",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7565e035-36b1-46f7-aba1-1cffbcfc46f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9500868592de84fb4d1592cb69852d0839858b2bdb43b49b1b9d4615a91ee29"
  },
  "nodeGroups": [],
  "id": "8GF8qF5e7LDdZaga",
  "tags": []
}