formaciones/ingenieria-de-agentes-y-automatizacion-con-ia/paso_02/n8n-crea-automatizaciones-inteligentes/workflows/Clase 4.json
{
  "name": "Clase 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "83023cc2-23d6-41a2-9988-f0f6ad694a2d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"nombre\": \"maria\",\n  \"usuario_activo\": true,\n  \"usuario\": \"123\",\n  \"edad\": 24\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -160
      ],
      "id": "f187d518-ab88-4dd4-b3a5-46e9f3ad97fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25531a9e-0c08-4938-a4ba-48cd22e66108",
              "leftValue": "={{ $json.usuario_activo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "303c676b-2e80-4c19-bd38-556e693f2750",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78ab5a58-b7d2-4cc9-bea6-50a01d652199",
              "name": "mensaje",
              "value": "=Enviare un mensaje para:   {{ $json.nombre }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -96
      ],
      "id": "76818656-c4f7-4487-9b84-c235e853ec44",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ec339cb-9bb6-4755-8af3-886ecca4d16f",
              "name": "mensaje",
              "value": "=No se enviara ningun mensaje. El usuario {{ $json.nombre }} esta inactivo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "2a374889-e143-49eb-8a07-e2d40b9c3513",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n  \"nombre\": \"maria\",\n  \"usuario_activo\": true,\n  \"usuario\": \"123\",\n  \"edad\": 24\n  },\n  {\n  \"nombre\": \"juan\",\n  \"usuario_activo\": false,\n  \"usuario\": \"456\",\n  \"edad\": 38\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "f54dd719-bb75-4f13-901d-3a8250625ded",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f7b962d0-3b6c-4d85-a3b0-ac2959480b36",
  "meta": {
    "instanceId": "f9500868592de84fb4d1592cb69852d0839858b2bdb43b49b1b9d4615a91ee29"
  },
  "nodeGroups": [],
  "id": "oerctCK4e1K4MCv2",
  "tags": []
}